.gdpr-bar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: rgba(24, 146, 205, .7);
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    color: #fff;
    padding: 5px;
    transition: .5s ease-in all;
    z-index:9999;
    font-size:12px;
}
.accept-btn1,
.accept-btn{
    background-color: #fff;
    border: none;
    color: #00558a;;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    text-transform: uppercase;
    cursor: pointer;
    border-radius:5px;
}
.accept-btn1:hover,
.accept-btn:hover{
  background-color: #00558a; 
  color: #fff;
}